.sectioned {
  height: 100vh;
}

.wrapper {
  margin-top: 25vh;
}

.img-parent {
  position: relative;
}

.ruby-img {
  position: absolute;
  bottom: 3em;
  left: 73%;
  height: 8em;
}

div ul li {
  float: left;
}
